---
layout: default
---

<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="jquery.query-2.1.7.js"></script>
<script>
var data = { {% for cat in site.categories %}{% if cat[0] != site.categories.first[0] %},{% endif %}"{{ cat[0] }}":[{% for post in cat[1] %}{% if post != cat[1].first %},{% endif %}{"url":"{{post.url | prepend: site.baseurl}}", "title":"{{post.title}}", "date":"{{post.date | date:"%d/%m/%Y"}}"}{% endfor %}]{% endfor %} };
var curTag = $.query.get("cat");
var archieves = data[curTag];

var ul = document.getElementById("list");

for (var i = 0; i < archieves.length; i++) {
    li = document.createElement("li");

    h2 = document.createElement("h2");

    link = document.createElement("a");
    link.setAttribute("class", "post-link");
    link.href = archieves[i]["url"];
    link.innerHTML = archieves[i]["title"];

    h2.appendChild(link);
    li.appendChild(h2);
    ul.appendChild(li);
}

</script>

<div class="home">
    <h1 class="page-heading">Posts</h1>

    <ul class="post-list" id="list">
    </ul>
</div>
