---
layout: default
---

<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
<script>
alert("hello");
var dataStr = '{ {% for cat in site.categories %}{% if cat[0] != site.categories.first[0] %},{% endif %}"{{ cat[0] }}":[{% for post in cat[1] %}{% if post != cat[1].first %},{% endif %}{"url":"{{post.url}}", "title":"{{post.title}}", "date":"{{post.date | date:"%d/%m/%Y"}}"}{% endfor %}]{% endfor %} }',
        data = JSON.parse(dataStr),
        curTag = $.query.get("cat"),
        archieves = data[curTag];

for (var i = 0; i < archieves.length; i++) {
    link = document.createElement("a");
    link.class = "post-link";
    link.href = archieves[i]["url"];
    link.innerHTML = archieves[i]["title"];

    document.body.appendChild(link);
}
</script>
