<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
        <div class="page-list">
        {% for category in site.categories %}
        <a class="page-link" href="{{ '/show-category-list.html?cat=' | prepend: site.baseurl | append: category[0] }}">{{ category | first }}({{ category | last | size }})</a>
        {% endfor %}
        </div>

      <div class="wrapper">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

  </body>

</html>
